<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css">
</head>

<body class="bg-dark">
  <div class="py-5 text-center text-white align-items-center d-flex w-100 h-100" style="background-image: url(&quot;../../Downloads/a09c0aa29c67ba1d1656a06e1d74bfa6.jpg&quot;); background-position: left top; background-size: 100%; background-repeat: repeat;">
    <div class="container py-5">
      <div class="row" style="">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">Tarom</h1>
          <p class="lead mb-5">Planifica-ti vacanta perfecta pentru tine si familia ta.</p> <a href="{{ url_for('login') }}" class="btn btn-lg btn-primary mx-1">Autentificare</a> <a class="btn btn-lg mx-1 btn-outline-primary" href="{{ url_for('register') }}">Inregistrare</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-primary h-25 text-light" style="">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© Parvana Vlad-Stefan &amp; Vartolomei Mihai-Sebastian<br></p>
          <p class="mb-0">Proiect BD 2023-2034<br></p>
          <p class="mb-0"><br></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>

</html>